body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    background: url(../../assets/images/pattern\(2\).png)
}
.loveMeter{
    background:transparent;
    background:rgba(255, 68, 118, 0.65);
    backdrop-filter: blur(2px);
    padding:3rem;
}
form{
    margin:1rem;
}

input{
    padding:1rem;
    margin:1rem;
    font-size: 1rem;
}
button{
    padding:1rem 2rem;
    margin:auto 1rem;
    background:#fff;
    border:2px dashed #474747;
    cursor: pointer;
}
button:hover{
    background:#ff4476cc;
    color:#fff;
    /* border:2px dashed #fff; */
    transform: scale(1.1);
    transition:0.2s ease;
}
.coupleReport{
    margin:1rem;
    padding:2rem;
    background: #ffffff;
}
.coupleReport p{
    margin:1rem;
}

